---
layout: default
---

<div class="posts microposts">
  <div class="journalHeader">Journal</div>
  {% assign postsByDay = 
    site.posts | where_exp:"post", "post.title == ''" | group_by_exp:"post", "post.date | date: '%A, %B %e, %Y'" %}
    {% for day in postsByDay %}
      <div class="journalDate post-date">{{ day.name }}</div>
        <ul>
          {% assign sorted = day.items | reverse %}
          {% for post in sorted %}
            {% if post.index != 0 %}
              &#9658;
            {% endif %}
          
            {% include micropost.html post=post %}
            &emsp; 
          {% endfor %}
        </ul>
    {% endfor %}
</div>

<div class="posts fullposts">
  <header class="site-header" role="banner">
		<a class="site-title" href="{{ site.github.url }}/">{{ site.title }}</a>
		<nav class="site-nav" role="navigation">
			<ul>
				{% assign pages_list = site.pages %}
      	 {% for node in pages_list %}
         {% if node.title != null %}
         {% if node.layout == "page" %}
				 <li itemprop="url"><a  class="{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a></li>
				 {% endif %}
	 {% endif %}
 {% endfor %}
			</ul>
		</nav>
	</header>
  <div class="featureHeader">Feature</div>
  {% assign longPosts = site.posts | where_exp:"post", "post.title != ''" %}
  {% for post in longPosts %}
    {% include post.html post=post %}
  {% endfor %}
</div>


<!-- <div class="pagination" role="navigation">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.github.url }}">Older</a> {% else %}
  <span class="pagination-item older">Older</span> {% endif %} {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.github.url }}">Newer</a> {% else %}
  <span class="pagination-item newer">Newer</span> {% endif %}
</div> -->
