---
layout: default
---

<div class="posts">
  {% assign postsByDay = 
    site.posts | where_exp:"post", "post.title == ''" | group_by_exp:"post", "post.date | date: '%A, %B %e, %Y'" %}
    {% for day in postsByDay %}
      <h1>{{ day.name }}</h1>
        <ul>
          {% for post in day.items %}
            {% include post.html post=post %}
          {% endfor %}
        </ul>
    {% endfor %}
</div>

<div class="posts">
  {% assign longPosts = site.posts | where_exp:"post", "post.title != ''" %}
  {% for post in longPosts"%}
    {% include post.html post=post %}
  {% endfor %}
</div>


<!-- <div class="pagination" role="navigation">
  {% if paginator.next_page %}
  <a class="pagination-item older" href="{{ paginator.next_page_path | prepend: site.github.url }}">Older</a> {% else %}
  <span class="pagination-item older">Older</span> {% endif %} {% if paginator.previous_page %}
  <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: site.github.url }}">Newer</a> {% else %}
  <span class="pagination-item newer">Newer</span> {% endif %}
</div> -->
